{% assign position = site.data.resume.positions[include.timeline_item] %}

<article class="resume-timeline-item position-relative pb-5">
  <div class="resume-timeline-item-header mb-2">
    <div class="d-flex flex-column flex-md-row">
      <h3 class="resume-position-title font-weight-bold mb-1">
        {{ position.title }}
        {% if position.type %}
          <small class="text-muted">({{ position.type }})</small>
        {% endif %}
      </h3>
      <div class="resume-company-name ml-auto">
        {{ position.company.name }}
      </div>
    </div>
    <div class="resume-position-time">{{ position.start_date }} - {{ position.end_date }}</div>
  </div>

  <div class="resume-timeline-item-desc">
    <p>
      {{ position.description }}
    </p>

    {% if position.achievements %}
      <h4 class="resume-timeline-item-desc-heading font-weight-bold">
        Achievements:
      </h4>

        {% if position.achievements.summary %}
          <p>{{ position.achievements.summary }}</p>
        {% endif %}

        {% if position.achievements.highlights %}
          <ul>
            {% for achievement in position.achievements.highlights %}
              <li>{{ achievement }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}

      {% if position.technologies %}
        <h4 class="resume-timeline-item-desc-heading font-weight-bold">
          Technologies used:
        </h4>

        <ul class="list-inline">
          {% for technology in position.technologies %}
            <li class="list-inline-item">
              <span class="badge badge-primary badge-pill">{{ technology }}</span>
            </li>
          {% endfor %}
        </ul>

      {% endif %}
  </div>
</article>
